{
  "env": {
    "development": {
      "presets": [
        "env"
      ]
    },

    "production": {
      "presets": [
        "env",
        [
          "minify",
          {
            "mangle": false
          }
        ]
      ]
    }
  }
}
